template(name='user')
    h1
        +userName
    blockquote
        if admin
            div
                | Базовый уровень
                form.baseLevel
                        input(type="text",name="newLevel",value="{{baseLevel}}",size="3")
            div
                | Уровень на начало полугодия:
                =startLevel
            div
                | CF Login
                form.cfLogin
                        input(type="text",name="cfLogin",value="{{cfLogin}}",size="20")
            div
                | Уровень на начало полугодия:
                =startLevel
        div
            | Уровень:
            =level
        div
            | Рейтинг:
            =rating
        div
            | Активность:
            =activity
        if cfRating
            div
                | Codeforces рейтинг:
                +cfStatus
    if lic40
        h2
            | Шоколадки
        p.small
            | Первая строка: шоколадки за полные контесты: первая шоколадка за первый сданный полностью контест и далее по одной шоколадке каждый раз, когда число сданных контестов делится на три.
            | Вторая строка: шоколадки за чистые контесты: за каждый контест, полностью сданный с первой попытки, одна шоколадка.
            | Третья строка: шоколадки за почти чистые контесты: по шоколадке за каждые два контеста, в которых все задачи сданы не более чем со второй попытки, и при этом хотя бы одна задача сдана не с первой попытки.
        table.table.chocos
            +each chocos
                +chocos number=this
    h2
        | Посылки по неделям
    p.small
        | Количество зачтенных посылок за неделю; 0.5, если посылки были, но ни одной зачтенной
    table.mainTable
        +solvedByWeekHeader userList=userList name=false
        +solvedByWeekLine userList=userList user=this name=fale
    h2
        | Результаты
    +each tables
        table.mainTable
            tr
                +tableHeader1 tables=this
            tr
                +tableRow user=.. tables=this
