template(name='overallTable')
    h1
        | Общая таблица
    p
        | Цвет ячеек: белая — на уровне не решено ни одной задачи, серая — на уровне решено сколько-то задач, но недостаточно, чтобы пройти уровень, темно-зеленая — уровень пройден, но решены не все задачи, ярко-зеленая — решены вообще все задачи.
    p
        | Имена школьников — ссылки на странички с результатами каждого конкретного школьника.
    table.mainTable
        tr
            +userHeader name=true
            td.border
            td
                | =
            td.border
            +overallHeader mainTable
        +each users
            tr
                +userLine
                td.border
                +overallResult table=mainTable user=this
                td.border
                +overallLine user=this table=mainTable
