template(name='overallTable')
    h1
        | Общая таблица
    table.mainTable
        tr
            +userHeader name=true
            td.border
            td
                | =
            td.border
            +overallHeader mainTable
        +each users
            tr
                +userLine
                td.border
                +overallResult table=mainTable user=this
                td.border
                +overallLine user=this table=mainTable
